<div class="card-container"
    [ngClass]="{'author' : currentUserId == glossary.author.id, 'shared': currentUserId != glossary.author.id,'closed': glossary.glossaryType == enum.constants.PRIVATE}">
    <div class="author-block">
      <div>
        <a routerLink="/profile/{{ glossary.author.username }}"
           nzTitle="{{ 'label.role.glossary.author' | translate | lowercase }}{{ ' - ' + glossary.author.username }}"
           nzPlacement="topRight"
           nz-tooltip>
            <img *ngIf="glossary.author.profilePhoto" [src]="glossary.author.imageToShow"
            class="profile-image">
            <div class="profile-image" *ngIf="!glossary.author.profilePhoto">
                <tmc-icon [tmcIconSize]="'image-ex-large'" [tmcType]="'image'" [tmcIconType]="'default-user'"></tmc-icon>
            </div>
        </a>
      </div>
    </div>
    <div class="glossary-info-outer">
      <div class="glossary-info-inner">
        <div class="glossary-name-block">
            <div class="glossary-name-outer">
                <div class="glossary-name-inner"><a class="glossary-link"
                        routerLink="/glossaries/{{glossary.id}}" [queryParams]="{page : 1}">{{ glossary.glossaryName }}</a>
                        <div class="closed-label" *ngIf="glossary.glossaryType == enum.constants.PRIVATE"> 
                            <i nz-icon nzType="lock" nzTheme="outline"></i> {{ 'label.type.private' | translate }}
                        </div>
                </div>
            </div>
        </div>
        <div class="glossary-stats-block">
            <div class="stat">
                {{ glossary.groupCount ? glossary.groupCount : 0 }} {{ getCountTitle('group', glossary.groupCount) | translate }}
                <nz-divider nzType="vertical"></nz-divider>
                {{ glossary.wordsCount ? glossary.wordsCount : 0 }} {{ getCountTitle('word', glossary.wordsCount) | translate }}
                <!-- <nz-divider nzType="vertical"></nz-divider>
                {{ glossary.langsCount ? glossary.langsCount : 0 }} {{ getCountTitle('lang', glossary.langsCount) | translate }} -->
            </div>
        </div>
      </div>
    </div>
    <div class="actions-block-outer">
         <button nz-button nzType="primary"
                  *ngIf="role != enum.constants.GL_AUTHOR"
                  (click)="role == enum.constants.GL_FOLLOWER || role == enum.constants.GL_MODERATOR ? showUnsubscribeModal() : subscribe()"
                  class="primary-button subscription"
                  [ngClass]="{'follow': role == enum.constants.GL_FOLLOWER || role == enum.constants.GL_MODERATOR}">
                  {{ (role == enum.constants.GL_FOLLOWER || role == enum.constants.GL_MODERATOR ? 'label.remove' : 'label.add') | translate }}
        </button>
        <nz-divider nzType="vertical" class="divider" *ngIf="role != enum.constants.GL_AUTHOR"></nz-divider>
        <div nzTitle="{{ glossary.lang.langName | translate}} ({{'default' | translate}})"
             nzPlacement="topRight" 
             nz-tooltip>
             <tmc-icon [tmcType]="'flag'" 
                       [tmcIconSize]="'flag-small'" 
                       [tmcIconType]="glossary.lang.langIcon ? glossary.lang.langIcon : 'Unknown.png'">
             </tmc-icon>                    
        </div>
        <nz-divider nzType="vertical" class="divider"></nz-divider>
       <div class="followers">{{ glossary.followersCount ? glossary.followersCount : 0 }} {{ getCountTitle('follower', glossary.followersCount) | translate | lowercase}}</div>
    </div>
</div>

<nz-modal [(nzVisible)]="isUnsubscribeModalVisible" 
          nzTitle="{{ 'label.delete.glossary' | translate }}"
          (nzOnCancel)="closeUnsubscribeModal()"
          [nzFooter]="alertModalFooterDG">
    <div class="modal-content">{{ 'label.are.you.sure.delete.glossary' | translate }}</div>
    <ng-template #alertModalFooterDG>
        <button class="cancel" (click)="closeUnsubscribeModal()">{{ 'label.close' | translate }}</button>
        <button nz-button nzType="danger" class="delete-button" (click)="unsubscribe()">{{ 'delete.button' | translate }}</button>
    </ng-template>
</nz-modal>